In [43]:
a = {'d': [1,2,3,4,5], 'b': [2,4,5,8,9]}
b = {'d': [1,8,4,9,4], 'b': [4,4,8,7,5]}
print(a == b)

False

In [44]:
import pandas as pd

In [45]:
A = pd.DataFrame.from_dict(a)
B = pd.DataFrame.from_dict(b)

In [46]:
C = pd.concat([A, B], keys=['a', 'b'])

In [47]:
C

     b  d
a 0  2  1
  1  4  2
  2  5  3
  3  8  4
  4  9  5
b 0  4  1
  1  4  8
  2  8  4
  3  7  9
  4  5  4

In [33]:
d = pd.Series({'f': [1,2]})

In [36]:
C.insert('e', d,  index=C.index)

TypeError: insert() got an unexpected keyword argument 'index'

In [25]:
C

     b    c    d    r    f
0  2.0  NaN  1.0  NaN  NaN
0  NaN  1.0  NaN  4.0  NaN

In [50]:
import json
with open('./configs/pipelines/pipe_conf_dict.json', 'r') as d:
    conf = json.load(d)
print(conf)

{}

In [51]:
for name in conf.keys():
    print(name)